
/* ********** My Styles ********** */


body, html {
  background-color: black;
  color:white;
}


h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 5vh;
}




/**/

.cabecera {
  width: 100%;
  min-height: 100%;
  background-image: var(--bg-url);
  background-attachment: var(--bg-attach);
  background-size: var(--bg-size);
  background-position-x: var(--bg-x);
  background-position-y: var(--bg-y);
  background-repeat: no-repeat;
}

/* Pie */


footer .fab
{
  font-size:5vh;
  margin: 0 5vh;
}

footer a
{
  color: var(--footer-link-color);
}

footer a:hover
{
  color: var(--footer-link-hover-color);
}

footer aside
{
  margin:1vh;
}


/* ********** Bootstrap Styles ********** */

.bg-dark {
  background-color: #444444 !important;
}


@media (max-height: 200px) {

}


/* sm - Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* md - Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* lg - Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* xl - Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}